$colors: (
  primary: (
    vd-desaturated-blue: hsl(238, 29%, 16%),
    soft-red: hsl(14, 88%, 65%),
    soft-violet: #ae66e8,
    soft-blue: #6565e7,
  ),
  neutral: (
    vd-gray-blue: hsl(237, 12%, 33%),
    d-gray-blue: hsl(240, 6%, 50%),
    l-gray-blue: hsl(240, 5%, 91%),
  )
)