@font-face {
  font-family: "Figtree";
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/static/Figtree-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Figtree";
  font-weight: 800;
  font-display: swap;
  src: url("/assets/fonts/static/Figtree-ExtraBold.ttf") format("ttf");
}