@use '../abstract' as *;

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
  color: $body-text-color;
  background-color: $body-background-color;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: $link-color-default;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}

h1, h2, h3 {
  font-size: 1rem;
  font-weight: normal;
}