@use '../abstract' as *;

.article {
  display: flex;
  max-width: 21.5625em;

  border-radius: 1rem;
  overflow: hidden;
  flex-direction: column-reverse;

  @include mq-min(desktop) {
    flex-direction: row;
    max-width: 69.625em;
    flex-wrap: nowrap;
  }

  picture {
    flex-basis: 100%;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: hsl(var(--clr-soft-violet) / 0.3);
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-body {
    box-sizing: border-box;
    
    background: hsl(var(--clr-d-desaturated-blue));
    text-align: center;
    display: flex;
    align-items: center;
    > div {
      padding: 2.5rem 2rem;
    }

    h1 {
      font-size: 1.75rem;
      line-height: 1.1;
      color: hsl(var(--clr-white));
      margin-bottom: 1.25rem;

      span {
        color: hsl(var(--clr-soft-violet))
      }
    }

    &-para {
      margin-bottom: 3rem;
    }

    @include mq-min(desktop){
      
      text-align: left;
      flex-basis: 100%;
      > div {
        padding: 3rem 4rem 2rem;
      }

      h1 {
        font-size: 2.25rem;
        margin-bottom: 2rem;
      }

      &-para {
        margin-bottom: 5rem;
      }
    }
  }

  &-info {
    flex-direction: column;
    gap: 2rem;

    p {
      font-weight: 700;
      font-size: 1.25rem;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 400;
      font-family: var(--ff-second);
      line-height: 1.1;
      font-size: 0.75rem;
      letter-spacing: 2px;
      color: hsl(var(--clr-white) / 0.6);
    }

    @include mq-min(desktop) {
      flex-direction: row;
      gap: 4rem;

      h3 {
        letter-spacing: 1px;
      }
    }
  }
}


//   &-info {
//     flex-direction: column;

//     p {
//       font-weight: 700;
//       font-size: 1.25rem;
//     }

//     h3 {
//       text-transform: uppercase;
//       font-weight: 400;
//       line-height: 1.1;
//       font-size: 12px;
//       letter-spacing: 2px;
//       color: hsl(var(--clr-white) / 0.6);
//       font-family: var(--ff-second);
//     }

//     @include mq-min(desktop) {
//       flex-direction: row;
//       gap: 4rem;

//       h3 {
//         letter-spacing: 1px;
//       }
//     }
//   }
// }

