body {
  background: hsl(var(--clr-dark-cyan));
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  color: hsl(var(--clr-dark-gray-blue));
  font-size: var(--fs-400);
  font-family: var(--ff-base);
  font-weight: normal;

  display: grid;
  place-content: center;
  overflow: hidden;
}