$colors: (
  vd-gray-blue: 217 19% 35%,
  desaturated-dark-blue: 214 17% 51%,
  gray-blue: 212 23% 69%,
  light-gray-blue: 210 46% 95%
);


$size: (
  "default": (
    500: 1rem,
    400: 0.8125rem,
    300: 0.75rem
  ),
  "desktop": (
    500: 1.25rem
  )
)