$size-1: 0.25rem;
$size-2:0.5rem;
$size-3:0.75rem;
$size-4:0.875rem;
$size-5: 1rem;
$size-6: 1.25rem;
$size-7: 1.5rem;
$size-8: 1.75ren;
$size-9: 2rem;
$size-10: 2.25rem;
$size-11: 2.5rem;
$size-12: 2.75rem;
$size-13: 3rem;
$size-14: 4rem;