@use '../abstract' as *;

.container {
  position: relative;
  max-width: min(100% - 4rem, 24rem);
  padding: 2rem;
  margin: 0 auto;

  @include mq(large) {
    max-width: min(100% - 4rem, 40rem);
    
  }
}