@use '../abstract' as *;

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22rem;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;

  @include mq-min(desktop) {
    width: 45rem;
    flex-direction: row;


  }

  &-header {
    flex-basis: 38%;

    @include mq-min(desktop) {
      img {
        height: 100%;
      }
    }
  }

  &-content {
    flex-basis: 62%;
    padding: 2.5rem 2rem 1.25rem;
    background-color: #fff;

    h1 {
      font-size: var(--fs-500);
      line-height: 1.2;
    }

    p:not([class]) {
      padding-block: 1rem 2.4rem
    }

    @include mq-min(desktop) {
      padding-inline: 2.5rem;
      padding-bottom: 2rem;
    }
  }

  &-user {
    display: flex;
    font-size: var(--fs-400);
    justify-content: space-between;
    align-items: center;

    &__avater {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }



    &__details {
      display: flex;
      gap: 1.125rem;
      align-items: center;

      h2 {
        font-size: var(--fs-400);
        line-height: 1.1;
      }
    }

    &__btn {
      cursor: pointer;
      position: relative;
      border: 0;
      background: none;
      padding: 0.5rem;
      background: hsl(var(--clr-light-gray-blue));
      border-radius: 50%;
      display: grid;
      place-items: center;
      z-index: 1000;

      > div {
        background-image: url(../../../images/icon-share.svg);
        background-size: cover;
        background-position: center center;
        width: 0.75rem;
        height: 0.75rem;
      }

      &[aria-expanded="true"] {
        background: hsl(var(--clr-desaturated-d-blue));

        > div {
          // background: #fff;
          background-image: url(/images/icon-share-copy.svg);
        }
      }
    }

  }

  &-share {
    

    .mobile {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2rem 2rem;
      background: hsl(var(--clr-vd-gray-blue));
      display: none;
      gap: 1.125rem;
      align-items: center;
      opacity: 0;
      transition: opacity 500ms linear;
    }

    h2 {
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 500;
      font-size: var(--fs-300);
      color: hsl(var(--clr-light-gray-blue));
    }

    &__icons {
      display: flex;
      gap: 1.125rem;
      
      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &[data-visible="true"] {
      display: flex;
      opacity: 1;

      @include mq-min(desktop) {
        .mobile {
          display: none;
        }

        .desktop {
          position: absolute;
          width: 10.875rem;
          padding: 2rem 1rem;
          background: #000;
        }
      }
    }

    
  }
}